<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sendCode</title>

    <script type="text/javascript">
        function subCode()
        {
            console.log("执行！")
            setTimeout("document.getElementById('form1').submit()",100);
        }
    </script>
</head>
<body onload="subCode()">
<form id="form1" action="http://localhost:8080/checkCode" method="post">
    <label>
        <input name="code" type="hidden" th:value="${code}">
    </label>
    <label>
        <input name="username" type="hidden" th:value="${username}">
    </label>
    <label>
        <input name="redirectUrl" type="hidden" th:value="${redirectUrl}">
    </label>
</form>
</body>
</html>