<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sendCode</title>

    <script type="text/javascript">
        function sendCode()
        {
            console.log("执行！")
            setTimeout("document.getElementById('form1').submit()",100);
        }
    </script>
</head>
<body onload="sendCode()">
<form id="form1" th:action="${redirectUrl}"  method="post">
    <label>
        <input name="code" type="hidden" th:value="${code}">
    </label>
    <label>
        <input name="username" type="hidden" th:value="${username}">
    </label>
</form>
</body>
</html>