<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sendSource</title>

    <script type="text/javascript">
        function sendSource()
        {
            console.log("执行！")
            setTimeout("document.getElementById('form1').submit()",100);
        }
    </script>
</head>
<body onload="sendSource()">
<form id="form1" th:action="${redirectUrl}"  method="post">
    <label>
        <input name="source" type="hidden" th:value="${source}">
    </label>
    <label>
        <input name="username" type="hidden" th:value="${username}">
    </label>
    <label>
        <input name="newToken" type="hidden" th:value="${newToken}">
    </label>
    <label>
        <input name="msg" type="hidden" th:value="${msg}">
    </label>
</form>
</body>
</html>