<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>身高管理系统</title>
    <link rel="stylesheet" href="app1style.css" type="text/css">
</head>

<script type="text/javascript">

</script>

<body style="background-color:#3e86a0">
<div class="main">
    <h1 th:utext="您好，+${username}" style="text-align: center;color: #3e86a0">
    </h1>
    <div style="border:1px solid #3e86a0"></div>
    <p style="font-size: 20px;color: #3e86a0;font-weight: bold">您的身高为：</p>
    <p th:utext="${source}" style="text-align: center;font-size: 20px;font-weight: bold;color: #3e86a0">

    </p>
    <div style="height: 20px"></div>
    <a href="http://localhost:8888/portal">
        <button class="enter-btn">返回主界面</button>
    </a>
    <form name="form2" action="http://localhost:8080/logout" method="post">
        <label>
            <input name="username" type="hidden" th:value="${username}">
        </label>
        <button type="submit" class="enter-btn">退出登录</button>
    </form>
</div>
</body>
</html>