
.enter-btn {
    width: 350px;
    height: 150px;
    color: #3e86a0;
    background-color: #feffff;
    text-align: center;
    border: 0px;
    font-size: 40px;
    font-weight: bold;
    line-height: 50%;
}
.loginBtn {
    width: 300px;
    height: 100px;
    color: #3e86a0;
    background-color: #feffff;
    text-align: center;
    border: 0px;
    /*font-size: 100px;*/
    font-weight: bold;

    margin-top: 35px;
    margin-left:10px;
    float:left;
}
.registerBtn {
    width: 300px;
    height: 100px;
    color: #3e86a0;
    background-color: #feffff;
    text-align: center;
    border: 0px;
    /*font-size: 100px;*/
    font-weight: bold;

    width: 35%;
    margin-top: 35px;
    margin-right:10px;
    float:right;
}

.enter-btn:hover {
    cursor:pointer;
    background: #1db5c9;
}
